<!-- Page Preloder -->
<!-- <div id="preloder">
    <div class="loader"></div>
</div> -->

<!-- Humberger Begin -->
<div class="humberger__menu__overlay" (click)="humbergerMenuOverlayOnClick()"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo2.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul *ngIf="userModel?.customer?.role?._roleId == 1">
            <li>
                <a title="Món ăn yêu thích" [routerLink]="['/favorite']">
                    <i class="fa fa-heart tooltipHeader">
                        <span class="tooltiptext">Món ăn yêu thích</span>
                    </i>
                    <span>{{checkFavoriteAmount()}}</span>
                </a>
            </li>
            <li>
                <a title="Giỏ hàng của bạn" [routerLink]="['/cart']">
                    <i class="fa fa-shopping-bag tooltipHeader">
                        <span class="tooltiptext">Giỏ hàng của bạn</span>
                    </i>
                    <span>{{checkCartAmount()}}</span>
                </a>
            </li>

            <li>
                <div class="header__top__right__auth">
                    <div class="header__item__dropdown">
                        <i class="fa fa-user"></i>
                        <ul class="header__menu__dropdown dropdown_right">
                            <li><a [routerLink]="['/accountinfo']">Cập Nhật Tài Khoản</a></li>
                            <li><a (click)="logout()">Đăng Xuất</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="header__ul" *ngIf="userModel == null">
            <li class="cursor-auto">
                <div class="header__item__dropdown cursor-pointer">
                    <i [routerLink]="['/login']" class="fa fa-user mr-2 line-separator-header-mobile">
                        <span class="footer-ybwc-desc"> Đăng Nhập</span>
                    </i>

                    <i [routerLink]="['/register']" class="fa ">
                        <span class="footer-ybwc-desc"> Đăng Ký</span>
                    </i>
                </div>
            </li>
        </ul>
    </div>
    <div id="mobile-menu-wrap ">
        <div class="slicknav_menu ">
            <nav class="slicknav_nav slicknav_hidden " aria-hidden="true " role="menu " style="display: none; ">
                <ul class="header__ul ">
                    <li [routerLinkActive]=" 'active' "><a href="# " [routerLink]="['/home'] ">Trang Chủ</a></li>
                    <li [routerLinkActive]=" 'active' "><a href="# " [routerLink]="['/product-list'] ">Sản Phẩm</a></li>
                    <li [routerLinkActive]=" 'active' " *ngIf="userModel?.customer?.role?._roleId==1"><a href="# "
                            [routerLink]="['/history'] ">Lịch sử</a></li>
                    <li [routerLinkActive]=" 'active' "><a href="# "
                            (click)="_testCreateLogInAccount()">_testCreateLogInAcc</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<mat-toolbar color="primary" class="header position-fixed " style="z-index:1000000">
    <div class="container navbar position-sticky width-100">
        <div class="row width-100">
            <div class="col-lg-3 header__logo">
                <a [routerLink]="['/home']"><img src="assets/img/logo2.png " alt=" "></a>
            </div>
            <div class="col-lg-5 ">
                <nav class="header__menu ">
                    <ul class="header__ul ">
                        <li [routerLinkActive]=" 'active' "><a href="#" [routerLink]="['/home'] ">Trang Chủ</a></li>
                        <li [routerLinkActive]=" 'active' "><a href="#" [routerLink]="['/product-list'] ">Sản Phẩm</a>
                        </li>
                        <li [routerLinkActive]=" 'active' " *ngIf="userModel?.customer?.role?._roleId==1 "><a
                                [routerLink]="[ '/history'] ">Lịch sử</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="">
            <div class="header__cart position-absolute d-block float-right w-auto">
                <ul class="header__ul " *ngIf="userModel?.customer?.role?._roleId==1 ">
                    <li>
                        <a href="# " [routerLink]="['/favorite'] ">
                            <i class="fa fa-heart tooltipHeader ">
                                <span class="tooltiptext ">Menu ưa thích</span>
                            </i>
                            <span>{{checkFavoriteAmount()}}</span>
                        </a>
                    </li>
                    <li class="ml-3">
                        <a [routerLink]="['/cart'] ">
                            <i class="fa fa-shopping-bag tooltipHeader ">
                                <span class="tooltiptext ">Giỏ hàng của bạn</span>
                            </i>
                            <span>{{checkCartAmount()}}</span>
                        </a>
                    </li>

                    <li class="ml-3">
                        <div class="header__item__dropdown ">
                            <i class="fa fa-user "></i>
                            <ul class="header__menu__dropdown dropdown_left ">
                                <li><a [routerLink]="['/accountinfo']">Cập Nhật Tài Khoản</a></li>
                                <li><a [routerLink]="['/logout']" (click)="logout() ">Đăng Xuất</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="header__ul " *ngIf="userModel==null">
                    <li class="cursor-auto">
                        <div class="header__item__dropdown  cursor-pointer">
                            <i class="fa fa-user mr-3 line-separator-header">
                                <span class="footer-ybwc-desc"> Đăng Nhập</span>
                                <ul class="header__menu__dropdown dropdown_right">
                                    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfContact">
                                        <mat-form-field class="background__transparent width-100">
                                            <li>
                                                <div for="formUsername" class="footer-ybwc-desc float-left">Tên Tài
                                                    Khoản</div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
                                                    </div>
                                                    <input autocomplete="off" matInput type="text"
                                                        formControlName="formUsername"
                                                        class="mat-input-element form-control" id="formUsername"
                                                        name="formUsername" placeholder="Nhập tên tài khoản..."
                                                        required />
                                                </div>
                                            </li>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field class="background__transparent width-100">
                                            <li>
                                                <div for="formUsername" class="footer-ybwc-desc float-left">Mật Khẩu
                                                </div>
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                                    </div>
                                                    <input autocomplete="new-password" matInput
                                                        [type]="passwordHidden ? 'password' : 'text'"
                                                        formControlName="formPassword"
                                                        class="mat-input-element form-control" id="formPassword"
                                                        name="formPassword" placeholder="Nhập mật khẩu..." required />
                                                    <div class="input-group-text right">
                                                        <i class="fa" [ngClass]="{
                                                              'fa-eye-slash': passwordHidden,
                                                              'fa-eye': !passwordHidden
                                                            }" (click)="togglePassword()"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </mat-form-field>
                                        <div class="width-100 overflow-hidden">
                                            <input (change)="checkRememberMeTicked($event)" #rememberMeCheckbox
                                                type="checkbox" id="rememberMeCheckbox" name="rememberMeCheckbox"
                                                [checked]="rememberMeTicked" class="form-check-input">
                                            <label for="rememberMeCheckbox" class="footer-ybwc-desc width-100">Lưu thông
                                                tin đăng nhập</label>
                                        </div>
                                        <br>
                                        <div class="width-100">
                                            <button class=" btn btn-success background-secondarycolor width-100">
                                                <div class="login-button bold overflow-hidden"> Đăng nhập</div>
                                                <input type="submit" value="submit" style="display: none !important;">
                                            </button>
                                            <div class="">
                                                <style></style>
                                                <a routerLink="/forgotpassword" class="ybwc-link">Quên mật khẩu?</a>
                                            </div>
                                        </div>
                                    </form>
                                </ul>
                            </i>
                            <i [routerLink]="['/register']" class="fa ">
                                <span class="footer-ybwc-desc"> Đăng Ký</span>
                            </i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="humberger__open " (click)="humbergerOnclick() ">
            <i class="fa fa-bars "></i>
        </div>
    </div>
</mat-toolbar>
<mat-toolbar class="position-relative invisible">

</mat-toolbar>

<!-- Header Section End -->