<div>
    <div class="margin-2remw mt-4">
        <div class="row">
            <div class="col-lg-9">
                <div class="hero__search__form width-100">
                    <form [formGroup]="formGroup">
                        <input maxlength="200" type="text" placeholder="Nhập tên sản phẩm..." [formControlName]="'search'" [(ngModel)]="txtSearch" (change)="refreshProductList()">
                        <button type="submit" class="btn right site-btn primary-btn" (click)="refreshProductList()">Tìm kiếm</button>
                    </form>
                </div>
                <div class="pt-4 width-100">
                    <div class="filter__sort col-md-5 col-lg-5">
                        <span>Sắp xếp theo </span>
                        <label for="select1" class="visually-hidden">Label Text</label>
                        <select id="select1" class="ml-3" [ngModel]="selectedSortValue" (ngModelChange)="onSortCategoryChange($event)">
                                        <option *ngFor="let sort of sortCategory" [value]="sort.id">{{sort.name}}</option>
                                    </select>
                    </div>
                    <div class="filter__sort col-md-2 col-lg-2" *ngIf="selectedSortValue == 0">
                        <!-- <span>Theo thứ tự </span> -->
                        <label for="select2" class="visually-hidden">Label Text</label>
                        <select id="select2" class="" [ngModel]="selectedSortNameValue" (ngModelChange)="onSortNameCategoryChange($event)">
                                        <option *ngFor="let sortName of sortNameCategory"  [value]="sortName.id">{{sortName.name}}</option>
                                    </select>
                    </div>
                    <div class="filter__sort col-md-2 col-lg-2" *ngIf="selectedSortValue == 1">
                        <!-- <span>Theo thứ tự </span> -->
                        <label for="select3" class="visually-hidden">Label Text</label>
                        <select id="select3" class="" [ngModel]="selectedSortPriceValue" (ngModelChange)="onSortPriceCategoryChange($event)">
                                        <option *ngFor="let sortPrice of sortPriceCategory"  [value]="sortPrice.id">{{sortPrice.name}}</option>
                                    </select>
                    </div>
                </div>
            </div>
            <div class="dropdown col-lg-2">
                <button style="height: 48px !important;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedCategoryName}}
               </button>
                <div style="position: sticky !important;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" *ngFor="let category of listCategory; let i = index" (click)="searchByCategory(i)">{{category._categoryName}}</a>
                </div>
            </div>
        </div>
    </div>

    <app-product-list></app-product-list>
</div>