$primary-color: #ff3863;
$lighter-primary-color: #7fad39;
$seconday-color: #120851;
// $main-text-color: #ffffff;
$main-text-color: #ffffff;
$secondary-text-color: #FF7BDA;
// $underline-color-before: #845EC2;
// $underline-color-after: #2FFFAD;
// $underline-color-before: #845EC2;
$underline-color-before: #000000;
// $underline-color-after: #00BAAD;
$underline-color-after: #FCD116;
// $header-background-color: rgba(255, 255, 255, 0.3) !important;
$header-background-color: rgba(0, 0, 0, 0.3);
$white-color: #ffffff;
$heading-color: #111111;
$para-color: #6f6f6f;
$black-color: #000000;
$heading-color-2: #252525;
$normal-color: #1c1c1c;
$background: #f5f5f5;
$background-2: #f2f2f2;
$border: #ebebeb;
$border-1: #e1e1e1;
$fm-unna: 'Unna',
serif;
$fm-nunito: 'Nunito Sans',
sans-serif;
@mixin background__color {
    // background-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
    background-image: linear-gradient(0deg, #581845, #900C3F, #C70039, #FF5733, #FFC300, #DAF7A6);
}

@mixin header__underline {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    height: 3px;
    left: 0;
}

@mixin header__underline--before {
    @include header__underline;
    background: $underline-color-before;
    width: 100%;
    color: $secondary-text-color;
    -webkit-transition: width, .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    -o-transition: width, .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
}

@mixin header__underline--after {
    @include header__underline;
    background: $underline-color-after;
    width: 100%;
    color: $secondary-text-color;
    -webkit-transition: width, .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    -o-transition: width, .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}